In [54]:
from langchain.document_loaders import TextLoader

loader = TextLoader(r"nvda_news_1.txt")
loader.load()

[Document(metadata={'source': 'nvda_news_1.txt'}, page_content="The stock of NVIDIA Corp (NASDAQ:NVDA) experienced a daily loss of -3.56% and a 3-month gain of 32.35%. With an Earnings Per Share (EPS) (EPS) of $1.92, the question arises: is the stock significantly overvalued? This article aims to provide a detailed valuation analysis of NVIDIA, offering insights into its financial strength, profitability, growth, and more. We invite you to delve into this comprehensive analysis.\n\nCompany Overview\nWarning! GuruFocus has detected 10 Warning Signs with NVDA. Click here to check it out.\n\nNVDA 30-Year Financial Data\n\nThe intrinsic value of NVDA\n\n\nNVIDIA Corp (NASDAQ:NVDA) is a leading designer of discrete graphics processing units that enhance the experience on computing platforms. The firm's chips are widely used in various end markets, including PC gaming and data centers. In recent years, NVIDIA has broadened its focus from traditional PC graphics applications such as gaming to more complex and favorable opportunities, including artificial intelligence and autonomous driving, leveraging the high-performance capabilities of its products.\n\nCurrently, NVIDIA's stock price stands at $418.01, significantly higher than the GF Value of $310.28, indicating the stock might be overvalued. With a market cap of $1 trillion, the valuation seems steep. The following analysis aims to delve deeper into the company's value.\n\nIs NVIDIA's Stock Significantly Overvalued? A Comprehensive Valuation Analysis\nIs NVIDIA's Stock Significantly Overvalued? A Comprehensive Valuation Analysis\nUnderstanding the GF Value\nThe GF Value is a unique measure of the intrinsic value of a stock, calculated based on historical trading multiples, a GuruFocus adjustment factor, and future business performance estimates. If the stock price is significantly above the GF Value Line, it is overvalued, and its future return is likely to be poor. Conversely, if it is significantly below the GF Value Line, its future return will likely be higher.\n\nAccording to GuruFocus Value calculation, NVIDIA (NASDAQ:NVDA) appears to be significantly overvalued. The stock's current price of $418.01 per share and the market cap of $1 trillion further strengthen this assumption.\n\nGiven that NVIDIA is significantly overvalued, the long-term return of its stock is likely to be much lower than its future business growth.\n\nIs NVIDIA's Stock Significantly Overvalued? A Comprehensive Valuation Analysis\nIs NVIDIA's Stock Significantly Overvalued? A Comprehensive Valuation Analysis\nLink: These companies may deliver higher future returns at reduced risk.\n\nFinancial Strength of NVIDIA\nExamining the financial strength of a company is crucial before investing in its stock. Companies with poor financial strength pose a higher risk of permanent loss. NVIDIA's cash-to-debt ratio of 1.27 is worse than 58.04% of companies in the Semiconductors industry. However, NVIDIA's overall financial strength is 8 out of 10, indicating a strong financial position.\n\nIs NVIDIA's Stock Significantly Overvalued? A Comprehensive Valuation Analysis\nIs NVIDIA's Stock Significantly Overvalued? A Comprehensive Valuation Analysis\nProfitability and Growth\nConsistent profitability over the long term reduces the risk for investors. NVIDIA, with its profitability ranking of 10 out of 10, has been profitable for the past 10 years. The company's operating margin of 17.37% ranks better than 76.5% of companies in the Semiconductors industry.\n\nHowever, growth is a crucial factor in a company's valuation. NVIDIA's growth ranks worse than 52.99% of companies in the Semiconductors industry, with its 3-year average revenue growth rate better than 87.88% of companies in the industry.\n\nROIC vs WACC\nComparing a company's return on invested capital (ROIC) to its weighted average cost of capital (WACC) is an effective way to evaluate its profitability. Over the past 12 months, NVIDIA's ROIC was 20.32 while its WACC was 16.74, suggesting that the company is creating value for its shareholders.\n\nIs NVIDIA's Stock Significantly Overvalued? A Comprehensive Valuation Analysis\nIs NVIDIA's Stock Significantly Overvalued? A Comprehensive Valuation Analysis\nConclusion\nIn conclusion, NVIDIA (NASDAQ:NVDA) appears to be significantly overvalued. Despite its strong financial condition and profitability, its growth ranks lower than 52.99% of companies in the Semiconductors industry. To learn more about NVIDIA stock, you can check out its 30-Year Financials here.\n\nTo find out the high quality companies that may deliver above-average returns, please check out GuruFocus High Quality Low Capex Screener.\n\nThis article first appeared on GuruFocus.")]

In [55]:
import os
print(os.path.exists("notebooks/nvda_news_1.txt"))

False

In [56]:
type(loader)

langchain_community.document_loaders.text.TextLoader

In [57]:
loader.file_path

'nvda_news_1.txt'

## CSV Loader

In [58]:
from langchain.document_loaders.csv_loader import CSVLoader

loader = CSVLoader(file_path="movies.csv", encoding="utf-8")
data = loader.load()
data

[Document(metadata={'source': 'movies.csv', 'row': 0}, page_content='movie_id: 101\ntitle: K.G.F: Chapter 2\nindustry: Bollywood\nrelease_year: 2022\nimdb_rating: 8.4\nstudio: Hombale Films\nlanguage_id: 3\nbudget: 1\nrevenue: 12.5\nunit: Billions\ncurrency: INR'),
 Document(metadata={'source': 'movies.csv', 'row': 1}, page_content='movie_id: 102\ntitle: Doctor Strange in the Multiverse of Madness\nindustry: Hollywood\nrelease_year: 2022\nimdb_rating: 7\nstudio: Marvel Studios\nlanguage_id: 5\nbudget: 200\nrevenue: 954.8\nunit: Millions\ncurrency: USD'),
 Document(metadata={'source': 'movies.csv', 'row': 2}, page_content='movie_id: 103\ntitle: Thor: The Dark World\nindustry: Hollywood\nrelease_year: 2013\nimdb_rating: 6.8\nstudio: Marvel Studios\nlanguage_id: 5\nbudget: 165\nrevenue: 644.8\nunit: Millions\ncurrency: USD'),
 Document(metadata={'source': 'movies.csv', 'row': 3}, page_content='movie_id: 104\ntitle: Thor: Ragnarok\nindustry: Hollywood\nrelease_year: 2017\nimdb_rating: 7.9\nstudio: Marvel Studios\nlanguage_id: 5\nbudget: 180\nrevenue: 854\nunit: Millions\ncurrency: USD'),
 Document(metadata={'source': 'movies.csv', 'row': 4}, page_content='movie_id: 105\ntitle: Thor: Love and Thunder\nindustry: Hollywood\nrelease_year: 2022\nimdb_rating: 6.8\nstudio: Marvel Studios\nlanguage_id: 5\nbudget: 250\nrevenue: 670\nunit: Millions\ncurrency: USD'),
 Document(metadata={'source': 'movies.csv', 'row': 5}, page_content='movie_id: 106\ntitle: Sholay\nindustry: Bollywood\nrelease_year: 1975\nimdb_rating: 8.1\nstudio: United Producers\nlanguage_id: 1\nbudget: Not Available\nrevenue: Not Available\nunit: Not Available\ncurrency: Not Available'),
 Document(metadata={'source': 'movies.csv', 'row': 6}, page_content='movie_id: 107\ntitle: Dilwale Dulhania Le Jayenge\nindustry: Bollywood\nrelease_year: 1995\nimdb_rating: 8\nstudio: Yash Raj Films\nlanguage_id: 1\nbudget: 400\nrevenue: 2000\nunit: Millions\ncurrency: INR'),
 Document(metadata={'source': 'movies.csv', 'row': 7}, page_content='movie_id: 108\ntitle: 3 Idiots\nindustry: Bollywood\nrelease_year: 2009\nimdb_rating: 8.4\nstudio: Vinod Chopra Films\nlanguage_id: 1\nbudget: 550\nrevenue: 4000\nunit: Millions\ncurrency: INR'),
 Document(metadata={'source': 'movies.csv', 'row': 8}, page_content='movie_id: 109\ntitle: Kabhi Khushi Kabhie Gham\nindustry: Bollywood\nrelease_year: 2001\nimdb_rating: 7.4\nstudio: Dharma Productions\nlanguage_id: 1\nbudget: 390\nrevenue: 1360\nunit: Millions\ncurrency: INR')]

In [59]:
data[0]

Document(metadata={'source': 'movies.csv', 'row': 0}, page_content='movie_id: 101\ntitle: K.G.F: Chapter 2\nindustry: Bollywood\nrelease_year: 2022\nimdb_rating: 8.4\nstudio: Hombale Films\nlanguage_id: 3\nbudget: 1\nrevenue: 12.5\nunit: Billions\ncurrency: INR')

In [60]:
loader = CSVLoader(file_path="movies.csv",source_column="title")
data = loader.load()
data[0]

Document(metadata={'source': 'K.G.F: Chapter 2', 'row': 0}, page_content='movie_id: 101\ntitle: K.G.F: Chapter 2\nindustry: Bollywood\nrelease_year: 2022\nimdb_rating: 8.4\nstudio: Hombale Films\nlanguage_id: 3\nbudget: 1\nrevenue: 12.5\nunit: Billions\ncurrency: INR')

In [61]:
len(data)

9

In [62]:
data[0].page_content

'movie_id: 101\ntitle: K.G.F: Chapter 2\nindustry: Bollywood\nrelease_year: 2022\nimdb_rating: 8.4\nstudio: Hombale Films\nlanguage_id: 3\nbudget: 1\nrevenue: 12.5\nunit: Billions\ncurrency: INR'

In [63]:
data[1].metadata

{'source': 'Doctor Strange in the Multiverse of Madness', 'row': 1}

## UnstructuredURLLoader

In [64]:
from langchain.document_loaders import UnstructuredURLLoader

loader = UnstructuredURLLoader(
    urls = [
        "https://www.moneycontrol.com/news/business/banks/hdfc-bank-re-appoints-sanmoy-chakrabarti-as-chief-risk-officer-11259771.html",
        "https://www.moneycontrol.com/news/business/markets/market-corrects-post-rbi-ups-inflation-forecast-icrr-bet-on-these-top-10-rate-sensitive-stocks-ideas-11142611.html"

    ]
)

In [65]:
data = loader.load()
len(data)

2

In [66]:
data[0].page_content[0:100]

'English\n\nHindi\n\nGujarati\n\nSpecials\n\nHello, Login\n\nHello, Login\n\nLog-inor Sign-Up\n\nMy Account\n\nMy Pro'

In [67]:
data[0].metadata

{'source': 'https://www.moneycontrol.com/news/business/banks/hdfc-bank-re-appoints-sanmoy-chakrabarti-as-chief-risk-officer-11259771.html'}

## Test Splitters

In [68]:
text = """Interstellar is a 2014 epic science fiction film co-written, directed, and produced by Christopher Nolan. 
It stars Matthew McConaughey, Anne Hathaway, Jessica Chastain, Bill Irwin, Ellen Burstyn, Matt Damon, and Michael Caine. 
Set in a dystopian future where humanity is embroiled in a catastrophic blight and famine, the film follows a group of astronauts who travel through a wormhole near Saturn in search of a new home for humankind.

Brothers Christopher and Jonathan Nolan wrote the screenplay, which had its origins in a script Jonathan developed in 2007 and was originally set to be directed by Steven Spielberg. 
Kip Thorne, a Caltech theoretical physicist and 2017 Nobel laureate in Physics,[4] was an executive producer, acted as a scientific consultant, and wrote a tie-in book, The Science of Interstellar. 
Cinematographer Hoyte van Hoytema shot it on 35 mm movie film in the Panavision anamorphic format and IMAX 70 mm. Principal photography began in late 2013 and took place in Alberta, Iceland, and Los Angeles. 
Interstellar uses extensive practical and miniature effects, and the company Double Negative created additional digital effects.

Interstellar premiered in Los Angeles on October 26, 2014. In the United States, it was first released on film stock, expanding to venues using digital projectors. The film received generally positive reviews from critics and grossed over $677 million worldwide ($715 million after subsequent re-releases), making it the tenth-highest-grossing film of 2014. 
It has been praised by astronomers for its scientific accuracy and portrayal of theoretical astrophysics.[5][6][7] Interstellar was nominated for five awards at the 87th Academy Awards, winning Best Visual Effects, and received numerous other accolades."""

In [69]:
text[0:100]

'Interstellar is a 2014 epic science fiction film co-written, directed, and produced by Christopher N'

In [70]:
# Well but we want complete words and want to do this for entire text, may be we can use Python's split funciton

words = text.split(" ")
len(words)

264

In [71]:
chunks = []

s = ""
for word in words:
    s += word + " "
    if len(s)>200:
        chunks.append(s)
        s = ""
        
chunks.append(s)

In [72]:
chunks[:2]

['Interstellar is a 2014 epic science fiction film co-written, directed, and produced by Christopher Nolan. \nIt stars Matthew McConaughey, Anne Hathaway, Jessica Chastain, Bill Irwin, Ellen Burstyn, Matt ',
 'Damon, and Michael Caine. \nSet in a dystopian future where humanity is embroiled in a catastrophic blight and famine, the film follows a group of astronauts who travel through a wormhole near Saturn in ']

### Character Text Splitter

In [73]:
from langchain.text_splitter import CharacterTextSplitter

splitter = CharacterTextSplitter(
    separator= '\n',
    chunk_size = 200,
    chunk_overlap=0
)

In [74]:
chunks = splitter.split_text(text)

Created a chunk of size 210, which is longer than the specified 200
Created a chunk of size 208, which is longer than the specified 200
Created a chunk of size 358, which is longer than the specified 200

In [75]:
for chunks in chunks:
    print(len(chunks))

105
120
210
181
197
207
128
357
253

### Recursive Text Splitter

In [76]:
from langchain.text_splitter import RecursiveCharacterTextSplitter

r_splitter = RecursiveCharacterTextSplitter(
    separators = ["\n\n", "\n", " "],  # List of separators based on requirement (defaults to ["\n\n", "\n", " "])
    chunk_size = 200,  # size of each chunk created
    chunk_overlap  = 0,  # size of  overlap between chunks in order to maintain the context
    length_function = len  # Function to calculate size, currently we are using "len" which denotes length of string however you can pass any token counter)
)

In [77]:
chunks = r_splitter.split_text(text)

for chunk in chunks:
    print(len(chunk))

105
120
199
10
181
197
198
8
128
191
165
198
54

# FAISS TUTORIAL

In [78]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)  # To display full content of the column

In [79]:
df = pd.read_csv("sample_text.csv")

In [80]:
df.shape

(8, 2)

In [81]:
df.head()

                                                               text category
0                     Meditation and yoga can improve mental health   Health
1  Fruits, whole grains and vegetables helps control blood pressure   Health
2                 These are the latest fashion trends for this week  Fashion
3                 Vibrant color jeans for male are becoming a trend  Fashion
4                                The concert starts at 7 PM tonight    Event

In [82]:
from sentence_transformers import SentenceTransformer

encoder = SentenceTransformer("all-MiniLM-L6-v2")
vectors = encoder.encode(df["text"])

In [83]:
vectors.shape

(8, 384)

In [84]:
dim = vectors.shape[1]

#### Normalize the source vectors(L2 distance is being used to measure similarity and add to index)

In [85]:
import faiss
index = faiss.IndexFlatL2(dim)  # L2 distance metric

In [86]:
index.add(vectors)

In [87]:
index

In [88]:
search_query = "I want to buy a polo T-Shirt"

vec = encoder.encode(search_query)
vec.shape

(384,)

In [92]:
import numpy as np
svec = np.array(vec).reshape(1,-1)
svec.shape

(1, 384)

In [93]:
distances, I = index.search(svec, k=2)

In [94]:
row_indices = I.tolist()[0]
row_indices

[3, 2]

In [95]:
df.loc[row_indices]

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion